*.tgz
*.swp
*.swo
README.html
pkgi.env
.pkgi
examples/server/bin
examples/server/etc
examples/server/tmp
examples/server/usr/bin/
examples/server/usr/etc/
examples/server/usr/lib/
examples/server/usr/sbin/
examples/server/var/cache/
examples/server/var/lib/
examples/server/var/lock/
examples/server/var/log/
examples/server/var/run/

