<?php

$whoami  = 'mysql';

// parse la listes des optimisations dans $optim_by_module
$modules = explode(',',getenv('PKGI_MODULES_LIST'));
$optim   = explode(',',getenv('APPNAME_OPTIMIZATION'));
$optim_by_module = array();
foreach($optim as $o) {
    $for_one_module = false;
    foreach($modules as $m) {
        if (preg_match('/^'.$m.'-(.*)$/', $o, $matches)) {
            $optim_by_module[$m][] = $matches[1];
            $for_one_module = true;
            break;
        }
    }
    if (!$for_one_module) {
        foreach($modules as $m) {
            $optim_by_module[$m][] = $o;
        }
    }
}

// charge les optimisations choisies pour le module courant
if (isset($optim_by_module[$whoami])) {
    foreach($optim_by_module[$whoami] as $o) {
        $f = dirname(__FILE__).'/'.basename(__FILE__).'-'.$o.'.pkgi-ignore';
        if (file_exists($f)) {
            include $f;
        }
    }
}
